<div id="container">
    <div>
        <h2>signal()</h2>
        <input type="text" (keyup)="onType($event)" />&nbsp;
        <span>{{typedText()}}</span>
    </div>
    <br>
    <div>
        <h3>Basic Counter</h3>
        Count : <span> {{count1()}} </span><br>
        Double Count : <span> {{doubleCount1()}} </span>
        <br>
        <br>
        <div>
            <button (click)="increment()">+</button>&nbsp;
            <button (click)="decrement()">-</button>&nbsp;
            <button (click)="reset()">Reset</button>
        </div>
    </div>
    <div>
        <h3>setInterval Counter</h3>
        Count : <span> {{count2()}} </span><br>
        Double Count : <span> {{doubleCount2()}} </span>
        <br>
        <br>
        <div>
            <button (click)="start()">Start</button>&nbsp;
            <button (click)="stop()">Stop</button>&nbsp;
            <button (click)="clear()">Clear</button>
        </div>
    </div>
    <div>
        <h3>setTimeout Counter</h3>
        Count : <span> {{count3()}} </span><br>
        Double Count : <span> {{doubleCount3()}} </span>
        <br>
        <br>
        <div>
            <button (click)="run()">Run</button>&nbsp;
            <button (click)="TenX()">10x</button>
        </div>
    </div>
    <br>
    <div>
        <h3>Colors :-</h3>
        <span>{{color()}}</span><br>
        <span>{{newColorRender()}}</span>
    </div>
    <br>
    <div>
        <h2>model signal()</h2>
        <input type="text" [(ngModel)]="keyUpTyping">&nbsp;
        <span id="text">{{keyUpTyping()}}</span>
    </div>
</div>