// #container {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%)
// }

#text {
    color: rgb(146, 87, 9);
    font-weight: bold;
    font-size: larger;
}